NODE_ENV=production

NEXT_PUBLIC_SITE_URL=https://kairo-anime.com
NEXTAUTH_URL=https://kairo-anime.com
NEXTAUTH_SECRET=
DATABASE_URL=

KODIK_PROVIDER_ENABLED=false
KODIK_API_TOKEN=
KODIK_PLAYBACK_ENABLED=false

ANILIBERTY_PROVIDER_ENABLED=false
ANILIBERTY_API_TOKEN=
ANILIBERTY_PLAYBACK_ENABLED=false
